@{
    ViewBag.Title = "About Us";
}

<style>
    p {
        width:710px;
    }
</style>

<h3>Description</h3>
<p>
    This demonstration is an example of the <a href="http://demos.kendoui.com/web/grid/index.html" target="_blank">Kendo Grid</a>  working within a .NET MVC3
    project.  A small class is placed on the server that digests the http request sent by Kendo Grid and serializes the model into a format readable by the javascript
    (json).  In most cases, you will be able to set up a fully-functional grid with a bit of javascript and two or three lines of C#.
    For Technical details, please visit the <a href="https://github.com/rwhitmire/KendoGridBinder" target="_blank">project page</a> on GitHub.  For installation
    instructions, check out the <a href="http://nuget.org/packages/KendoGridBinder" target="_blank">nuget page</a>.
</p>

<h3>License</h3>

<iframe src="http://www.gnu.org/licenses/agpl.txt" width="710" height="300"></iframe>