@{
    ViewBag.Title = "Grid Example";
}

<div id="grid"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var url = '@Url.Action("Grid")';

        var dataSource = new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            pageSize: 20,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: url
                }
            },
            schema: {
                data: 'Data',
                total: 'Total',
                model: {
                    id: 'Id',
                    fields: {
                        Name: { type: 'string' },
                        Email: { type: 'string' },
                        EmployeeNumber: { type: 'number' },
                        HireDate: { type: 'date' },
                        Active: { type: 'boolean' }
                    }
                }
            }
        });

        $('#grid').kendoGrid({
            dataSource: dataSource,
            height: 400,
            columns: [
                { field: 'Name', title: 'Name' },
                { field: 'Email' },
                { field: 'EmployeeNumber', title: 'Emplyee #' },
                { field: 'HireDate', title: 'Hire Date', format: "{0:MM/dd/yyyy}" },
                { field: 'Active' }
            ],
            filterable: true,
            sortable: {
                mode: 'multiple'
            },
            pageable: true
        });
    });
</script>