@{
    ViewBag.Title = "Home Page";
}

<div id="grid"></div>

<script type="text/javascript">
    var url = '@Url.Action("Grid")';

    var dataSource = new kendo.data.DataSource({
        serverPaging: true,
        serverSorting: true,
        serverFiltering: true,
        pageSize: 200,
        transport: {
            read: {
                type: 'post',
                dataType: 'json',
                url: url
            }
        },
        schema: {
            data: 'data',
            total: 'total',
            model: {
                id: 'EmployeeId',
                fields: {
                    FirstName: { type: 'string' },
                    LastName: { type: 'string' },
                    Email: { type: 'string' }
                }
            }
        }
    });

    $('#grid').kendoGrid({
        dataSource: dataSource,
        height: 400,
        columns: [
            { field: 'FirstName', title: 'First Name' },
            { field: 'LastName', title: 'Last Name' },
            { field: 'Email', title: 'Email' }
        ],
        filterable: true,
        sortable: {
            mode: 'multiple'
        },
        scrollable: {
            virtual: true
        }
    });
</script>